In [1]:
from datasets import load_dataset
from dotenv import load_dotenv
import os
from huggingface_hub import login
import pandas as pd
from generator_flow import generator
from generator_flow import normal_generator

Load examples

In [2]:
load_dotenv()
login(os.getenv("HF_API_KEY"))
dataset = load_dataset("Tamiza/zimpl_data")
df_manual = dataset['test'].to_pandas()
dataset

README.md:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

manual_test.json:   0%|          | 0.00/101k [00:00<?, ?B/s]

Generating test split: 0 examples [00:00, ? examples/s]

DatasetDict({
    test: Dataset({
        features: ['input', 'output', 'parameter', 'solution'],
        num_rows: 67
    })
})

Table for manual tests

In [3]:
df_manual

,input,output,parameter,solution
0,A bakery produces two types of cookies: chocol...,"set CookieTypes := {""Caramel"", ""ChocolateChip""...",1,objective value: ...
1,"""The factory produces two products, W1 and W2,...","set Products := {""W1"", ""W2""};\nset Resources :...",1,objective value: ...
2,A mining company produces lignite and anthraci...,"set CoalTypes := {""Lignite"", ""Anthracite""};\ns...",1,objective value: ...
3,"A company has two warehouses, Warehouse A and ...","set Warehouses := {""A"", ""B""};\nset Stores := {...",1,objective value: ...
4,A nutritionist wants to create a diet plan for...,"set Foods := {""Food1"", ""Food2"", ""Food3""};\nset...",1,objective value: ...
...,...,...,...,...
62,A health-conscious family wants to have a very...,var x; # number of banana servings taken\nvar ...,0,objective value: 11.363636...
63,A campsite for caravans and tents has an area ...,var x integer; # number of caravans\nvar y ...,0,objective value: ...
64,A factory manufactures doodads and whirligigs....,var x integer; # Each doodad costs $2 to make ...,0,objective value: ...
65,The annual subscription for a tennis club is £...,var x integer; # number of adult members\nv...,0,objective value: ...
66,"The numbers of units of vitamins A, B and C in...",var x; # amount (in kilograms) of Food X\...,0,objective value: ...

Generate responses using AI ZIMPL Generator (for now first 10)

In [4]:
df_manual['ai_advanced'] = df_manual.apply(lambda row: generator(row['input'], row['parameter']), axis=1)

Show answers

In [5]:
df_manual[:5].map(lambda x: str(x)).style.set_properties(**{'text-align': 'left', 'white-space': 'pre-wrap'})

In [6]:
df_manual['ai_normal'] = df_manual['input'].apply(normal_generator)

In [7]:
from pandas import DataFrame
df_manual[:5][['output', 'ai_advanced', 'ai_normal']].map(lambda x: str(x)).style.set_properties(**{'text-align': 'left', 'white-space': 'pre-wrap'})

## Solver results

In [8]:
from solver import run_scip_and_extract_solution
SCIP_PATH = r"C:\\Program Files\\SCIPOptSuite 9.1.0\\bin"

df_manual["ai_advanced"] = df_manual["ai_advanced"].astype(str)
df_manual["ai_normal"] = df_manual["ai_normal"].astype(str)

def process_zimpl_code(zimpl_code):
    try:
        valid, result = run_scip_and_extract_solution(zimpl_code, SCIP_PATH)
        print(f"Valid: {valid}, Result: {result}")
        return valid, result
    except Exception as e:
        print(f"Error processing code: {e}")
        return False, None



df_manual[["valid_advanced", "result_advanced"]] = df_manual["ai_advanced"].apply(
    lambda code: pd.Series(process_zimpl_code(code))
)

df_manual[["valid_normal", "result_normal"]] = df_manual["ai_normal"].apply(
    lambda code: pd.Series(process_zimpl_code(code))
)

Is Valid: True

Solution:
objective value:                                210.6
x$Caramel                                         120 	(obj:0.88)
x$ChocolateChip                                   140 	(obj:0.75)
Valid: False, Result: No solution found
Valid: True, Result: objective value:                                   14
x$W1                                                4 	(obj:2)
x$W2                                                2 	(obj:3)
Valid: True, Result: objective value:                                   10
x$Lignite                                           1 	(obj:4)
x$Anthracite                                        2 	(obj:3)
Valid: False, Result: No solution found
Valid: True, Result: objective value:                                   12
x$Food1                                             6 	(obj:2)
Valid: True, Result: objective value:                                 5305
x$ProductA                                        124 	(obj:20)
x$ProductB                                        113 	(obj:25)
Valid: True, Result: objective value:                                 5800
x$Oil1                                            600 	(obj:5)
x$Oil2                                            400 	(obj:7)
Valid: True, Result: objective value:                                  380
x$FoodI                                             2 	(obj:50)
x$FoodII                                            4 	(obj:70)
Valid: True, Result: objective value:                                 1140
x$P1                                               14 	(obj:30)
x$P2                                               18 	(obj:40)
Valid: True, Result: objective value:                                  180
x$F1                                                3 	(obj:60)
Valid: True, Result: objective value:                                  410
x$Tables                                           30 	(obj:7)
x$Chairs                                           40 	(obj:5)
Valid: True, Result: objective value:                                28750
x$Pants                                           375 	(obj:50)
x$Jackets                                         250 	(obj:40)
Valid: True, Result: objective value:                                  210
x$Painting                                          6 	(obj:25)
x$Card                                              4 	(obj:15)
Valid: True, Result: objective value:                                   66
x$TypeA                                             6 	(obj:5)
x$TypeB                                             3 	(obj:12)
Valid: True, Result: objective value:                                  400
x$JobI                                              4 	(obj:40)
x$JobII                                             8 	(obj:30)
Valid: True, Result: objective value:                                  190
x$Regular                                           2 	(obj:20)
x$Premium                                           5 	(obj:30)
Valid: True, Result: objective value:                                  864
x$TypeA                                             6 	(obj:60)
x$TypeB                                             6 	(obj:84)
Valid: True, Result: objective value:                                   48
x$Blouse                                            3 	(obj:8)
x$Skirt                                             4 	(obj:6)
Valid: True, Result: objective value:                                 4170
x$TypeA                                            51 	(obj:30)
x$TypeB                                            66 	(obj:40)
Valid: True, Result: objective value:                                  260
x$LargeVan                                          4 	(obj:40)
x$SmallVan                                          5 	(obj:20)
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: True, Result: objective value:                               123000
x$BlackAndWhite                                    80 	(obj:525)
x$Colour                                          120 	(obj:675)
Valid: False, Result: No solution found
Error processing code: 'charmap' codec can't encode character '\xa3' in position 670: character maps to <undefined>
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: True, Result: objective value:                                   18
x$Caravan                                           6 	(obj:2)
x$Tent                                              6 	(obj:1)
Valid: True, Result: objective value:                                  435
x$Doodad                                           20 	(obj:6)
x$Whirligig                                        45 	(obj:7)
Valid: True, Result: objective value:                                  880
x$Adult                                            40 	(obj:20)
x$Junior                                           10 	(obj:8)
Valid: True, Result: objective value:                                   12
x$X                                                12 	(obj:1)
Valid: True, Result: objective value:                                   97
x$Oatmeal                                           4 	(obj:3)
x$Milk                                              5 	(obj:9)
x$Pie                                               2 	(obj:20)
Valid: True, Result: objective value:                                   30
c1                                                 20 	(obj:1)
c2                                                 10 	(obj:1)
Valid: True, Result: objective value:                                40500
xA                                                 45 	(obj:500)
xB                                                 45 	(obj:400)
Valid: True, Result: objective value:                                210.6
c1                                                140 	(obj:0.75)
c2                                                120 	(obj:0.88)
Valid: True, Result: objective value:                                   14
pW1                                                 4 	(obj:2)
pW2                                                 2 	(obj:3)
Valid: True, Result: objective value:                                   10
l                                                   1 	(obj:4)
a                                                   2 	(obj:3)
Valid: True, Result: objective value:                                  890
xA1                                                80 	(obj:4)
xA2                                                20 	(obj:6)
xB2                                               150 	(obj:3)
Valid: True, Result: objective value:                                   12
f1                                                  6 	(obj:2)
Valid: True, Result: objective value:                                 5305
pA                                                124 	(obj:20)
pB                                                113 	(obj:25)
Valid: True, Result: objective value:                                 5800
o1                                                600 	(obj:5)
o2                                                400 	(obj:7)
Valid: True, Result: objective value:                                  380
x1                                                  2 	(obj:50)
x2                                                  4 	(obj:70)
Valid: True, Result: objective value:                                 1140
p1                                                 14 	(obj:30)
p2                                                 18 	(obj:40)
Valid: True, Result: objective value:                                  180
x1                                                  3 	(obj:60)
Valid: True, Result: objective value:                                  410
t                                                  30 	(obj:7)
c                                                  40 	(obj:5)
Valid: True, Result: objective value:                                28750
p                                                 375 	(obj:50)
j                                                 250 	(obj:40)
Valid: True, Result: objective value:                                  210
p                                                   6 	(obj:25)
c                                                   4 	(obj:15)
Valid: True, Result: objective value:                                   66
xA                                                  6 	(obj:5)
xB                                                  3 	(obj:12)
Valid: True, Result: objective value:                                  400
h1                                                  4 	(obj:40)
h2                                                  8 	(obj:30)
Valid: True, Result: objective value:                                  190
rGadgets                                            2 	(obj:20)
pGadgets                                            5 	(obj:30)
Valid: True, Result: objective value:                                  864
xA                                                  6 	(obj:60)
xB                                                  6 	(obj:84)
Valid: False, Result: No solution found
Valid: True, Result: objective value:                                 4500
tA                                                150 	(obj:30)
Error processing code: 'charmap' codec can't encode character '\xa3' in position 339: character maps to <undefined>
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: True, Result: objective value:                                13860
wScrews                                          1080 	(obj:10)
mScrews                                           180 	(obj:17)
Valid: True, Result: objective value:                               123000
bw_sets                                            80 	(obj:525)
color_sets                                        120 	(obj:675)
Valid: False, Result: No solution found
Error processing code: 'charmap' codec can't encode character '\xa3' in position 240: character maps to <undefined>
Valid: True, Result: objective value:                                 2320
b                                                   4 	(obj:100)
s                                                  16 	(obj:120)
Valid: False, Result: No solution found
Error processing code: 'charmap' codec can't encode character '\xb2' in position 260: character maps to <undefined>
Valid: True, Result: objective value:                                  435
d                                                  20 	(obj:6)
w                                                  45 	(obj:7)
Valid: True, Result: objective value:                                  880
adult_members                                      40 	(obj:20)
junior_members                                     10 	(obj:8)
Valid: True, Result: objective value:                                   12
x                                    1.09090909090909 	(obj:1)
y                                    3.63636363636364 	(obj:3)
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Error processing code: 'charmap' codec can't encode character '\xa3' in position 316: character maps to <undefined>
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Error processing code: 'charmap' codec can't encode character '\xa3' in position 402: character maps to <undefined>
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Error processing code: 'charmap' codec can't encode character '\xa3' in position 316: character maps to <undefined>
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found
Valid: False, Result: No solution found

## Compare validation

In [9]:
import pandas as pd

print("ZIMPL generator results")
comparison_table = pd.DataFrame({
    "Category": [
        "Valid (True)",
        "Not Valid (False)",
    ],
    "Count": [
        (df_manual["valid_advanced"] == True).sum(),
        (df_manual["valid_advanced"] == False).sum(),
    ]
})

comparison_table["Percentage"] = (
    comparison_table["Count"] / len(df_manual) * 100
).round(2)

print(comparison_table)

print("ZIMPL generator results - hardcoded")
comparison_table = pd.DataFrame({
    "Category": [
        "Valid hardcoded (True)",
        "Not Valid hardcoded (False)",
    ],
    "Count": [
        ((df_manual["valid_advanced"] == True) & (df_manual["parameter"] == 0)).sum(),
        ((df_manual["valid_advanced"] == False) & (df_manual["parameter"] == 0)).sum(),
    ]
})

comparison_table["Percentage"] = (
    comparison_table["Count"] / len(df_manual) * 100
).round(2)

print(comparison_table)

print("ZIMPL generator results - params")
comparison_table = pd.DataFrame({
    "Category": [
        "Valid with params (True)",
        "Not Valid with params (False)"
    ],
    "Count": [
        ((df_manual["valid_advanced"] == True) & (df_manual["parameter"] == 1)).sum(),
        ((df_manual["valid_advanced"] == False) & (df_manual["parameter"] == 1)).sum(),
    ]
})

comparison_table["Percentage"] = (
    comparison_table["Count"] / len(df_manual) * 100
).round(2)

print(comparison_table)

print("Normal OpenAI model results")
comparison_table_normal = pd.DataFrame({
    "Category": [
        "Valid (True)",
        "Not Valid (False)",
    ],
    "Count": [
        (df_manual["valid_normal"] == True).sum(),
        (df_manual["valid_normal"] == False).sum(),
    ]
})

comparison_table_normal["Percentage"] = (
    comparison_table_normal["Count"] / len(df_manual) * 100
).round(2)

print(comparison_table_normal)

print("All results")
comparison_table = pd.DataFrame({
    "Category": [
        "Both Valid (True, True)",
        "Advanced Valid Only (True, False)",
        "Normal Valid Only (False, True)",
        "Both Invalid (False, False)",
    ],
    "Count": [
        ((df_manual["valid_advanced"] == True) & (df_manual["valid_normal"] == True)).sum(),
        ((df_manual["valid_advanced"] == True) & (df_manual["valid_normal"] == False)).sum(),
        ((df_manual["valid_advanced"] == False) & (df_manual["valid_normal"] == True)).sum(),
        ((df_manual["valid_advanced"] == False) & (df_manual["valid_normal"] == False)).sum(),
    ]
})

comparison_table["Percentage"] = (
    comparison_table["Count"] / len(df_manual) * 100
).round(2)

print(comparison_table)

ZIMPL generator results
            Category  Count  Percentage
0       Valid (True)     50       74.63
1  Not Valid (False)     17       25.37
ZIMPL generator results - hardcoded
                      Category  Count  Percentage
0       Valid hardcoded (True)     26       38.81
1  Not Valid hardcoded (False)      8       11.94
ZIMPL generator results - params
                        Category  Count  Percentage
0       Valid with params (True)     24       35.82
1  Not Valid with params (False)      9       13.43
Normal OpenAI model results
            Category  Count  Percentage
0       Valid (True)      0         0.0
1  Not Valid (False)     67       100.0
All results
                            Category  Count  Percentage
0            Both Valid (True, True)      0        0.00
1  Advanced Valid Only (True, False)     50       74.63
2    Normal Valid Only (False, True)      0        0.00
3        Both Invalid (False, False)     17       25.37

In [23]:
import pandas as pd

# Filtruj wiersze, gdzie valid_advanced == False
notvalid_rows_advanced = df_manual[df_manual['valid_advanced'] == False]

# Wybierz kolumny 'output', 'ai_advanced', 'ai_normal'
selected_columns = notvalid_rows_advanced[['output', 'ai_advanced', 'ai_normal']]

# Zapisz dane do pliku Excel (XLSX)
selected_columns.to_excel('not_valid.xlsx', index=False, engine='openpyxl')

print("Dane zostały zapisane w formacie XLSX do pliku not_valid.xlsx.")

Dane zostały zapisane w formacie XLSX do pliku not_valid.xlsx.

In [18]:
from IPython.display import display, HTML

df_manual["ai_advanced_display"] = df_manual["ai_advanced"].str.replace('\n', '<br>', regex=False)

html_content = df_manual["ai_advanced_display"].apply(lambda x: f'<div>{x}</div>').to_list()
#display(HTML(''.join(html_content)))

Check valid rows and search for correct results in advanced ZIMPL creator

In [16]:
from obj_fun_validator import compare_solutions

valid_rows_advanced = df_manual[df_manual['valid_advanced'] == True]
notvalid_rows_advanced = df_manual[df_manual['valid_advanced'] == False]
#print(valid_rows_advanced["result_advanced"])
#print(notvalid_rows_advanced["result_advanced"])

df_manual.loc[valid_rows_advanced.index, 'compare_advanced'] = valid_rows_advanced.apply(
    lambda row: compare_solutions(row['solution'], row['result_advanced'])[0], axis=1
)

valid_count = len(valid_rows_advanced)

print(f"valid_advanced == True: {valid_count}")
print(df_manual['compare_advanced'])

total_count = len(df_manual)
nan_count = df_manual['compare_advanced'].isna().sum()
true_count = (df_manual['compare_advanced'] == True).sum()
false_count = (df_manual['compare_advanced'] == False).sum()

nan_percentage = (nan_count / total_count) * 100
true_percentage = (true_count / total_count) * 100
false_percentage = (false_count / total_count) * 100

print(f"All stats:")
print(f"NaN: {nan_count} ({nan_percentage:.2f}%)")
print(f"True: {true_count} ({true_percentage:.2f}%)")
print(f"False: {false_count} ({false_percentage:.2f}%)")

non_nan_rows = df_manual.loc[~df_manual['compare_advanced'].isna()]
true_non_nan_count = (non_nan_rows['compare_advanced'] == True).sum()
false_non_nan_count = (non_nan_rows['compare_advanced'] == False).sum()

true_non_nan_percentage = (true_non_nan_count / valid_count) * 100
false_non_nan_percentage = (false_non_nan_count / valid_count) * 100

print(f"\nStats without NaN (valid_count = {valid_count}):")
print(f"True: {true_non_nan_count} ({true_non_nan_percentage:.2f}%)")
print(f"False: {false_non_nan_count} ({false_non_nan_percentage:.2f}%)")

notvalid_rows_advanced["ai_advanced"].head(10)

valid_advanced == True: 50
0       NaN
1      True
2      True
3       NaN
4      True
      ...
62      NaN
63      NaN
64    False
65     True
66     True
Name: compare_advanced, Length: 67, dtype: object
All stats:
NaN: 17 (25.37%)
True: 42 (62.69%)
False: 8 (11.94%)

Stats without NaN (valid_count = 50):
True: 42 (84.00%)
False: 8 (16.00%)

0     # Sets\nset CookieTypes := {"Caramel", "Chocol...
3     # Sets\nset Warehouses := {"WarehouseA", "Ware...
20    # Sets\nset BusTypes := {"LargeBus", "SmallBus...
21    # Sets\nset Offers := {"A", "B"};\nset Product...
22    # Sets\nset ScrewTypes := {"WoodScrews", "Meta...
24    # Sets\nset Depots      := {"X", "Y"};\nset Pu...
25    # Sets\nset WorkerTypes := {"Unskilled", "Skil...
26    # Sets\nset Crops := {"Barley", "Swedes"};\nse...
27    # Sets\nset Fruits       := {"Apples", "Banana...
52    # Decision variables\nvar b; # number of blous...
Name: ai_advanced, dtype: object

Check valid rows and search for correct results in normal GPT model

In [ ]:
valid_rows_normal = df_manual[df_manual['valid_normal'] == True]
#print(valid_rows["result_normal"])

df_manual.loc[valid_rows_normal.index, 'compare_normal'] = valid_rows_normal.apply(
    lambda row: compare_solutions(row['solution'], row['result_normal'])[0], axis=1
)

valid_count = len(valid_rows_normal)

print(f"valid_normal == True: {valid_count}")
print(df_manual['compare_normal'])

total_count = len(df_manual)
nan_count = df_manual['compare_normal'].isna().sum()
true_count = (df_manual['compare_normal'] == True).sum()
false_count = (df_manual['compare_normal'] == False).sum()

nan_percentage = (nan_count / total_count) * 100
true_percentage = (true_count / total_count) * 100
false_percentage = (false_count / total_count) * 100

print(f"All stats:")
print(f"NaN: {nan_count} ({nan_percentage:.2f}%)")
print(f"True: {true_count} ({true_percentage:.2f}%)")
print(f"False: {false_count} ({false_percentage:.2f}%)")

non_nan_rows = df_manual.loc[~df_manual['compare_normal'].isna()]
true_non_nan_count = (non_nan_rows['compare_normal'] == True).sum()
false_non_nan_count = (non_nan_rows['compare_normal'] == False).sum()

true_non_nan_percentage = (true_non_nan_count / valid_count) * 100
false_non_nan_percentage = (false_non_nan_count / valid_count) * 100

print(f"\nStats without NaN (valid_count = {valid_count}):")
print(f"True: {true_non_nan_count} ({true_non_nan_percentage:.2f}%)")
print(f"False: {false_non_nan_count} ({false_non_nan_percentage:.2f}%)")

valid_normal == True: 0
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
     ...
62    NaN
63    NaN
64    NaN
65    NaN
66    NaN
Name: compare_normal, Length: 67, dtype: object
All stats:
NaN: 67 (100.00%)
True: 0 (0.00%)
False: 0 (0.00%)

Stats without NaN (valid_count = 0):
True: 0 (nan%)
False: 0 (nan%)

C:\Users\jagod\AppData\Local\Temp\ipykernel_19616\3424765584.py:31: RuntimeWarning: invalid value encountered in scalar divide
  true_non_nan_percentage = (true_non_nan_count / valid_count) * 100
C:\Users\jagod\AppData\Local\Temp\ipykernel_19616\3424765584.py:32: RuntimeWarning: invalid value encountered in scalar divide
  false_non_nan_percentage = (false_non_nan_count / valid_count) * 100

In [ ]:
from generator_flow import validate_generator

validate_generator(df_manual['output'], df_manual['ai_advanced'])

ImportError: cannot import name 'validate_generator' from 'generator_flow' (c:\Users\jagod\git\zimpl_ai_generator\generator_flow.py)

TODO


- weryfikacja kodu poprzez: punktowanie przez niezależy model językowy (kolumna ai_advanced)